
html {font-size: 62.5%}
body {background-color:rgb(104,205,213);}

.back {margin:1% 0 0 1%;}

.zhutu {margin-top:15%;
	border: 1rem solid red;
		text-align: center;}
	@media all and (max-width: 800px)	{
		.zhutu {margin-top:15%;border: 1rem solid yellow;text-align: center;}
	}
	@media all and (max-width: 800px) and (min-width: 400px)	{
		.zhutu {margin-top:15%;border: 1rem solid yellowgreen;text-align: center;}
	}
.text-1{margin-top:5%; 
		margin-left: 2%;
		margin-right: 2%;
		font-size: 4rem;
		border: 1rem solid red;}

.foot{height:10%; 
	margin-top: 40%;
		border:1rem solid red;}

.leftimg{float:left;
		margin: auto 15%;
		text-align: center;}

.rightimg{float:right;
		margin: auto 15%;
		text-align: center;}

.lefttxtimg{margin-top: 10%;}

.righttxtimg{margin-top: 10%;}

