*{
	margin: 0;
	padding: 0;
	font-size: 16px;
}
button{
	border: none;
	background: none;
	color: none;
	outline: none;

}
.header{
	width: 100%;
	height: 10vh;
	background: #5FC0CD;
	display: flex;
	align-items: center;
}
.header button{
	border: none;
	color: #FFFFFF;
	background: #5fc0cd;
}

.header button:hover{
	border: none;
	color: #FFFFFF;
	background: #5fc0cd;
	outline: none;
}

.con{
	width: 100%;
	height: 90vh;
	background: #f0f0f0;

}
.history{
	width: 95%;
	height: 10vh;
	background: #FFFFFF;
	position: absolute;
	top: 12vh;
	left: 5%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.history_1 p{
	font-size: 20px;
	margin: 0 auto;
}

.next{
	position: absolute;
	right: 1%;
}
.next button{
	background: #FFFFFF;
	color: #e7e7e7;
	border: none;

}
.banben{
	width: 95%;
	height: 76vh;
	background: #FFFFFF;
	position: absolute;
	top: 24vh;
	left: 5%;
	
	
}
.til{
	width: 100%;
	height:10vh;
	border-bottom: 2px solid #fdd793;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fbb435;
	
}
.banben_1{
	width: 76%;
	height: 15vh;
	margin-top: 2rem;
	margin-left: 12%;
}
.banben_1_1{
	width: 100%;
	height: 9vh;
	display: flex;
	justify-content: center;
	background: #5FC0CD;

}
.banben_1_1 p{

	line-height: 9vh;
	font-size: 30px;
	color: #fff;
}
.banben_1_2{
	width: 100%;
	height: 6vh;
	display: flex;
	justify-content: center;
}
.banben_1_2 p{
	
	line-height: 6vh;
}
.next_1{
	
	position: absolute;
	top:18.5rem;
	right:0rem;
	overflow: hidden;
	
}
.next_1 button{
	background: #FFFFFF;
	color: #fbb435;
	border: none;
}
#lunbo{
	width: 100%;
	height: 10px;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 5vh;

}
#buttons{
	height: 10px;
	width: 20%;
	display: flex;
	justify-content: space-around;
}
#buttons span{
	float: left;
	width: 10px;
	height: 10px;
	border-radius:  50%;
	background: #B3A9A9;	
}